<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Swag Site</title>
</head>
<body>
    <heade>
        <h1>The Black Side Of a Site</h1>
    </heade>
    <main>
        <p>Super Tuper Ultra Hyper God damn motherfucker Back-end experimental project</p>

        {% block content %}
            {% for post in posts %}
                <a href="#">{{ post['title'] }}</a>
                <span>{{ post['content'] }}</span>
                <br>
            {% endfor %}
        {% endblock %}

    </main>
</body>
</html>