#form-area{
    display: flex;
    justify-content: space-evenly;
}
#logo{
    width: 40%;
    height: 225px;
    background-image: url(../media/gabiru.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
form{
    width: 50%;
}

h2{
    margin-bottom: 40px;
    text-align: center;
}
main{
    margin: 40px 25% 0 25%;
    width: 50%;
}

#main-title{
    text-align: center;
    padding: 70px 0 10px 0;
}
#loginBtn{
    width: 100%;
    margin-top: 25px;
}